.loanCalculator{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.loanCalculator-wrapper{
    width: 100%;
    max-width: 600px;
    margin-top: 50px;
}
.loanCalculator-form{
    width: 100%;
}
.sections{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.section-label{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputField{
    border: 1px solid rgb(232, 232, 232);
    padding: 10px;
    width: 100%;
    max-width: 350px;
}

.calculateButton{
    padding: 7px 15px;
    color: white;
    background-color: #ff7043;
    font-size: 18px;
    border: none;
    margin: 10px 0;
    cursor: pointer;
}

.table{
    width: 100%;
    margin-top:10px ;

}

.table-container{
    display: flex;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;   
}

th{
    background-color: #ff7043;
    color: white;

}

.convertor{
    padding: 7px 15px;
    color: white;
    background-color: #ff7043;
    font-size: 18px;
    border: none;
    margin-top: 12px;
    cursor: pointer;
}
.interestValue{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name{
    border: 1px solid black;
}

.loadingContainer{
    position: absolute;
    top: 20px;
    bottom: 0;
    padding: 20px;
    max-height: 400px;
    width: 600px;
    background-color:white;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
}





